{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1 align="center">บทคัดย่อ</h1>
<h4>
  การประยุกต์ใช้การประมวลผลภาษาธรรมชาติเพื่อการวิเคราะห์ข่าวตลาด forex gold spot
  ในโครงงานนี้เรานำเสนอการสร้าง ML NLP และ การทำ Model Naivebaye
  เพื่อการวิเคราะห์ข่าวสาร และข้อมูลต่างๆที่เกี่ยวกับ Forex Gold sport และ
  เราได้ทำการเปรียบเทียบให้เห็นถึงประสิทธิภาพ ของNLP
  และความรู้เบื้องต้นที่จะได้รับจากโครงงานนี้คือ ภาษา Python
  ซึ่งเป็นภาษายอดนิยมในปัจจุบัน
</h4>
<br />

<h2>ผู้จัดทำโครงงาน</h2>
<h4>
  นายชวลชัย อภิชาติฐิติวรณ์ รหัส 6210110646 <br />
  คณะวิศวกรรมศาสตร์ สาขาวิศวกรรมคอมพิวเตอร์ <br />
  มหาวิทยาลัยสงขลานครินย์
</h4>

<h2>อาจารย์ที่ปรึกษาโครงงาน</h2>
<h4>รศ.ดร. มนตรี กาญจนะเดชะ</h4>

{% endblock %}
