{% extends "base.html" %} 
{% block title %}Sentiment{% endblock %} 
{% block content %}
<h1 align="center">Sentiment</h1>
<form method="POST">
    <div class="form-group">
        <textarea 
            class="form-control" 
            id="exampleFormControlTextarea1" 
            rows="8"
            placeholder="Enter Your news"
            name="newInput"
        ></textarea>
    </div>
  <input align="center" type="submit" value="Predticiton!" />
</form>
<div class="prediction">
    {{ prediction }}
</div>
{% endblock %}
