{% extends "base.html" %}
{% block title %}Summary Articles{% endblock %}
{% block content %}
<h1 align="center">Summary Articles</h1>
<form method="POST">
    <div class="form-group">
        <textarea 
            class="form-control" 
            id="exampleFormControlTextarea1" 
            rows="8"
            placeholder="Enter Your articles"
            name="articles"
        ></textarea>
    </div>
  <input align="center" type="submit" value="Summary!" />
</form>
<div class="summary">
    {{ summary }}
</div>
{% endblock %}